/autoconf_64b
/autoconf_vsnprintf
/ctst_*
/octst_*
/tst_*
/otst_*
/lcov-output
/lib-all-ustr.info
/lib-all.info
/libustr-1.0.so.1.0.*
/libustr-debug-1.0.so.1.0.*
/ustr-conf-debug.h
/ustr-conf.h
/ustr-import
examples/hello_world
examples/hello_world-s
examples/netstr
examples/netstr-s
examples/hexdump
examples/hexdump-s
examples/nums
examples/nums-s
examples/mkdir_p
examples/mkdir_p-s
examples/fgrep
examples/fgrep-s
examples/txt2html
examples/txt2html-s
examples/custr
examples/custr-s
examples/linecat_*
examples/linecat*-s
examples/basename
examples/basename-s
examples/dirname
examples/dirname-s
abcd
T-installed/tst_*_norm
T-installed/tst_*_dbg1
T-installed/tst_*_dbg2
T-installed/tst_vstr_chk
